{:paths ["src" "target/classes"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        criterium/criterium {:mvn/version "RELEASE"}
        hyperfiddle/rcf {:git/url "https://github.com/hyperfiddle/rcf.git" :sha "8993ccfd9ea074db488fe94f5bcd2597d4fbc510"}
        com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.0"}
        com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.2"}
        proteus/proteus {:mvn/version "0.1.6"}}
 :deps/prep-lib {:alias :build
                 :fn compile
                 :ensure "target/classes"}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :jvm-opts ["-Dhyperfiddle.rcf.generate-tests=true"
                    "-XX:-OmitStackTraceInFastThrow"]
         :exec-fn cognitect.test-runner.api/test
         :exec-args {:dirs ["src" "test"]
                     :patterns ["com.xadecimal.*"]}}
  :dev {:extra-paths ["dev"]}
  ;; Run with clj -T:build function-in-build
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
          :ns-default build}}}
